.jumbotron
  %h1 StaticPages#index
  %p Find me in app/views/static_pages/index.html.erb
  %button.btn.btn-primary{:type => "button"} Primary
  %button.btn.btn-secondary{:type => "button"} Secondary

