.jumbotron.bg-danger
  %h1 StaticPages#index
  %p Find me in app/views/static_pages/index.html.erb
  %button.btn.btn-primary{:type => "button"} Primary
  %button.btn.btn-secondary{:type => "button"} Secondary

.fab.fa-amazon
.fas.fa-flag
.fab.fa-github
= link_to root_path, class: "btn btn-primary" do
  .fa.fa-home 'Домой'